## Se cargan los tres datasets en uno solo para dar respuesta a los endpoints

In [27]:
import pandas as pd

## Dataset steam_games

In [30]:
df_steam_games = pd.read_parquet('Dataset/steam_games.parquet')
df_steam_games.head(2)

       genres                title release_date  price   item_id  developer
88310  Action  Lost Summoner Kitty         2018   4.99  761140.0  Kotoshiro
88310  Casual  Lost Summoner Kitty         2018   4.99  761140.0  Kotoshiro

## Dataset user_review

In [33]:
df_review = pd.read_parquet('Dataset/user_review.parquet')
df_review.sample(2)

          user_id item_id  recommend  sentiment_analysis
1313  usaidwotnow   22350      False                   1
1550   madcow2234   49520       True                   2

## Dataset user_items

In [34]:
df_items = pd.read_parquet('Dataset/user_items.parquet')
df_items.head(3)

             user_id  items_count  playtime_forever  playtime_2weeks
0  76561197970982479          277               6.0              0.0
1  76561197970982479          277               0.0              0.0
2  76561197970982479          277               7.0              0.0

In [ ]:
df_items.shape

(2916386, 4)

## Dataset Final

Se hace el merge de los 3 DataFrames a traves de la columna 'item_id'

In [35]:
df_1 = pd.merge(df_steam_games, df_review, on = 'item_id' )

ValueError: You are trying to merge on float64 and object columns for key 'item_id'. If you wish to proceed you should use pd.concat

In [ ]:
df = pd.merge(df_1, df_items, on = 'user_id' )

In [ ]:
df.shape

(8344484, 12)

Se verifican duplicados y se borran

In [ ]:
df.duplicated(subset=df.columns).sum()

148206

In [ ]:
df.drop_duplicates(keep= 'last', inplace=True)

In [ ]:
df.shape

(8196278, 12)

In [ ]:
df.to_parquet("Dataset/data_final.parquet")
df.head()

,genres,title,release_date,price,item_id,developer,user_id,recommend,sentiment_analysis,items_count,playtime_forever,playtime_2weeks
0,Action,Carmageddon Max Pack,1997.0,9.99,282010.0,Stainless Games Ltd,InstigatorAU,True,1,112,259.0,0.0
1,Action,Carmageddon Max Pack,1997.0,9.99,282010.0,Stainless Games Ltd,InstigatorAU,True,1,112,0.0,0.0
2,Action,Carmageddon Max Pack,1997.0,9.99,282010.0,Stainless Games Ltd,InstigatorAU,True,1,112,7410.0,0.0
3,Action,Carmageddon Max Pack,1997.0,9.99,282010.0,Stainless Games Ltd,InstigatorAU,True,1,112,66.0,0.0
4,Action,Carmageddon Max Pack,1997.0,9.99,282010.0,Stainless Games Ltd,InstigatorAU,True,1,112,9.0,0.0

In [ ]:
df.head(1)

,genres,title,release_date,price,item_id,developer,user_id,recommend,sentiment_analysis,items_count,playtime_forever,playtime_2weeks
0,Action,Carmageddon Max Pack,1997.0,9.99,282010.0,Stainless Games Ltd,InstigatorAU,True,1,112,259.0,0.0

Dataset para el endpoint 2

In [ ]:
df_endpoint_2 = df[['price','user_id','recommend','items_count']] 
df_endpoint_2.to_parquet("Dataset/endpoint_2.parquet")
df_endpoint_2

         price       user_id  recommend  items_count
0         9.99  InstigatorAU       True          112
1         9.99  InstigatorAU       True          112
2         9.99  InstigatorAU       True          112
3         9.99  InstigatorAU       True          112
4         9.99  InstigatorAU       True          112
...        ...           ...        ...          ...
8344479   9.99        lachwe       True           24
8344480   9.99        lachwe       True           24
8344481   9.99        lachwe       True           24
8344482   9.99        lachwe       True           24
8344483   9.99        lachwe       True           24

[8196278 rows x 4 columns]

Dataset enpoint 3

In [ ]:
df_endpoint_3 = df[['user_id', 'playtime_forever', 'genres', 'release_date']]
df_endpoint_3.to_parquet("Dataset/endpoint_3.parquet")
df_endpoint_3.sample(10)

                   user_id  playtime_forever        genres  release_date
2449289  76561198053869543              76.0         Indie        2015.0
1889379    Terrible_Terrio             645.0        Action        2014.0
3515064              sphix            2561.0  Free to Play        2017.0
172309         jrobertson7             299.0    Simulation        2006.0
1924987  76561198085677474            1324.0        Action        2013.0
6312311              jdeb9            1119.0     Adventure        2013.0
2896808  76561198042297860            1352.0     Adventure        2016.0
1408485       Praiseofdeph             410.0        Action        2013.0
2460755  76561198010871424              10.0     Adventure        2015.0
4021177       keemotherapy             681.0  Free to Play        2015.0

Dataset endpoint 4

In [ ]:
df_endpoint_4 = df[['developer', 'recommend', 'release_date', 'sentiment_analysis']]
df_endpoint_4.to_parquet('Dataset/endpoint_4.parquet')
df_endpoint_4.head(4)

             developer  recommend  release_date  sentiment_analysis
0  Stainless Games Ltd       True        1997.0                   1
1  Stainless Games Ltd       True        1997.0                   1
2  Stainless Games Ltd       True        1997.0                   1
3  Stainless Games Ltd       True        1997.0                   1

In [ ]:
df_endpoint_4[df_endpoint_4['release_date']== 1997]

                   developer  recommend  release_date  sentiment_analysis
0        Stainless Games Ltd       True        1997.0                   1
1        Stainless Games Ltd       True        1997.0                   1
2        Stainless Games Ltd       True        1997.0                   1
3        Stainless Games Ltd       True        1997.0                   1
4        Stainless Games Ltd       True        1997.0                   1
...                      ...        ...           ...                 ...
7855135            LucasArts       True        1997.0                   2
7855136            LucasArts       True        1997.0                   2
7855137            LucasArts       True        1997.0                   2
7855138            LucasArts       True        1997.0                   2
7977949          id Software       True        1997.0                   2

[4591 rows x 4 columns]

Dataset endpoint 5

In [ ]:
df.head(1)

,genres,title,release_date,price,item_id,developer,user_id,recommend,sentiment_analysis,items_count,playtime_forever,playtime_2weeks
0,Action,Carmageddon Max Pack,1997.0,9.99,282010.0,Stainless Games Ltd,InstigatorAU,True,1,112,259.0,0.0

In [ ]:
df_endpoint_5 = df[['developer', 'sentiment_analysis']]
df_endpoint_5.to_parquet('Dataset/endpoint_5.parquet')