## Se cargan los tres datasets en uno solo para dar respuesta a los endpoints

In [7]:
import pandas as pd

## Dataset steam_games

In [8]:
df_steam_games = pd.read_parquet('Dataset/steam_games.parquet')
df_steam_games['item_id'] = df_steam_games['item_id'].astype(int)
df_steam_games.head(2), df_steam_games.shape

(       genres                title release_date  price  item_id  developer
 88310  Action  Lost Summoner Kitty         2018   4.99   761140  Kotoshiro
 88310  Casual  Lost Summoner Kitty         2018   4.99   761140  Kotoshiro,
 (68023, 6))

In [9]:
len(df_steam_games['item_id'].unique())

27461

## Dataset user_review

In [10]:
df_review = pd.read_parquet('Dataset/user_review.parquet')
df_review['item_id'] = df_review['item_id'].astype(int)
df_review.sample(2), df_review.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59305 entries, 0 to 25798
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59305 non-null  object
 1   item_id             59305 non-null  int32
 2   recommend           59305 non-null  bool
 3   sentiment_analysis  59305 non-null  int64
dtypes: bool(1), int32(1), int64(1), object(1)
memory usage: 1.6+ MB

(            user_id  item_id  recommend  sentiment_analysis
 13065  legomagalaga   230410       True                   2
 10979      CRUBIK19   303390       True                   1,
 None)

## Dataset user_items

In [11]:
df_items = pd.read_parquet('Dataset/user_items.parquet')
df_items.head(3)

             user_id  items_count  playtime_forever  playtime_2weeks
0  76561197970982479          277               6.0              0.0
1  76561197970982479          277               0.0              0.0
2  76561197970982479          277               7.0              0.0

In [12]:
df_items.shape

(2916386, 4)

## Dataset Final

Se hace el merge de los 3 DataFrames a traves de la columna 'item_id'

In [13]:
df_1 = pd.merge(df_steam_games, df_review, on = 'item_id' )

In [14]:
df = pd.merge(df_1, df_items, on = 'user_id' )

In [15]:
df.shape

(8344484, 12)

Se verifican duplicados y se borran

In [16]:
df.duplicated(subset=df.columns).sum()

148206

In [17]:
df.drop_duplicates(keep= 'last', inplace=True)

In [18]:
df.shape

(8196278, 12)

In [19]:
df.isna().sum()
df.dropna(subset= ['playtime_forever','playtime_2weeks'], inplace= True)

In [20]:
df.to_parquet("Dataset/data_final.parquet")
df.head()

,genres,title,release_date,price,item_id,developer,user_id,recommend,sentiment_analysis,items_count,playtime_forever,playtime_2weeks
0,Action,Carmageddon Max Pack,1997,9.99,282010,Stainless Games Ltd,InstigatorAU,True,1,112,259.0,0.0
1,Action,Carmageddon Max Pack,1997,9.99,282010,Stainless Games Ltd,InstigatorAU,True,1,112,0.0,0.0
2,Action,Carmageddon Max Pack,1997,9.99,282010,Stainless Games Ltd,InstigatorAU,True,1,112,7410.0,0.0
3,Action,Carmageddon Max Pack,1997,9.99,282010,Stainless Games Ltd,InstigatorAU,True,1,112,66.0,0.0
4,Action,Carmageddon Max Pack,1997,9.99,282010,Stainless Games Ltd,InstigatorAU,True,1,112,9.0,0.0

In [21]:
df.head(1)

,genres,title,release_date,price,item_id,developer,user_id,recommend,sentiment_analysis,items_count,playtime_forever,playtime_2weeks
0,Action,Carmageddon Max Pack,1997,9.99,282010,Stainless Games Ltd,InstigatorAU,True,1,112,259.0,0.0

Dataset para el endpoint 2

In [22]:
df_endpoint_2 = df[['price','user_id','recommend','items_count']] 
df_endpoint_2 = df_endpoint_2.sample(30000, random_state=42)                  
df_endpoint_2.to_parquet("Dataset/endpoint_2.parquet")
df_endpoint_2.shape

(30000, 4)

Dataset enpoint 3

In [37]:
df_endpoint_3 = df[['user_id', 'playtime_forever', 'genres', 'release_date']]
df_endpoint_3 = df_endpoint_3.sample(30000, random_state=30000)
df_endpoint_3.to_parquet("Dataset/endpoint_3.parquet")
df_endpoint_3.shape

(30000, 4)

Dataset endpoint 4 y 5

In [38]:
df_endpoint_4_5 = df[['developer', 'recommend', 'release_date', 'sentiment_analysis']]
df_endpoint_4_5 = df_endpoint_4_5.sample(3000, random_state=42)
df_endpoint_4_5.to_parquet('Dataset/endpoint_4_5.parquet')
df_endpoint_4_5.shape

(3000, 4)